@import "./breakpoints";
@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f0f, 0 0 50px #0ff,
      0 0 60px #e60073, 0 0 70px #e60073, 0 0 80px #ff00ff;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 50px #ff4da6,
      0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6, 0 0 100px #ff00ff;
  }
}

@keyframes textglowing {
  from {
    text-shadow: 0 1px 6px rgba(white, 0.25);
  }
  to {
    text-shadow: 0 2px 12px rgba(#ff00ff, 1);
  }
}

.landing {
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #05060b;

  &_solar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    position: relative;
    padding: 2rem;
    max-width: 35rem;
    width: 35rem;
    height: 35rem;
    max-height: 35rem;
    background: #030407;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      z-index: 1;
      background: transparent;
      -webkit-animation: glowing 2s ease-in-out infinite alternate;
      -moz-animation: glowing 2s ease-in-out infinite alternate;
      animation: glowing 2s ease-in-out infinite alternate;
    }

    &-content {
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12rem 2rem;
      border-radius: 50%;
    }
  }
  &_subtitle {
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    font-style: italic;

    &-text {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: -0.5rem;
      font-weight: 500;
      & > * {
        font-size: 1.5rem !important;
        word-spacing: 0.25rem;
      }

      .secondary-text {
        color: #ff00ff;
      }
    }
  }
  &_info {
    position: absolute;
    left: 2rem;
    bottom: 12.5rem;
  }
  &_countdown {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

    &.notActive {
      & > * {
        position: relative;
        text-shadow: 0 0 24px rgba(#ff00ff, 1);
      }
    }

    & > div {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      & > * {
        font-size: 2.5rem;
        margin-left: 1rem !important;
        text-shadow: 0 0 24px rgba(#ff00ff, 1);
      }
    }
  }

  @include media("<=desktop") {
    &_solar {
      max-width: 15rem;
      width: 15rem;
      height: 15rem;
      max-height: 15rem;
      margin-top: -5rem !important;

      &-content {
        h1 {
          font-size: 1.125rem !important;
        }
      }
    }

    &_countdown {
      h4 {
        font-size: 1.125rem !important;
      }

      & > div {
        & > * {
          margin-left: 0.25rem !important;
        }
      }
    }

    &_info {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      bottom: 5rem;
      h3 {
        font-size: 1.5rem;
      }
      h6 {
        font-size: 1rem;
      }
    }

    &_subtitle {
      &-text {
        & > * {
          font-size: 1rem !important;
        }
      }
    }
  }

  @include media("<=tablet") {
    &_solar {
      max-width: 20rem;
      width: 20rem;
      height: 20rem;
      max-height: 20rem;
      margin-top: -15rem !important;

      &-content {
        h1 {
          font-size: 1.125rem !important;
        }
      }
    }

    &_countdown {
      h4 {
        font-size: 1.125rem !important;
      }

      & > div {
        & > * {
          margin-left: 0.25rem !important;
        }
      }
    }

    &_info {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2rem;
      bottom: 10rem;
    }

    &_subtitle {
      &-text {
        & > * {
          font-size: 1.05rem !important;
        }
      }
    }
  }
}
