.main-menu {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  width: 100% !important;
  padding: 3rem 2rem 1rem 2rem;

  &_logo {
    padding-left: 1rem;
    box-sizing: border-box;
    .logo-name {
      height: 54px;
    }
    .logo-ship {
      position: absolute;
      height: 125%;
      transform: translate(5%, -25%);
    }
  }

  &_menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > * {
      font-family: Orbitron;
      color: white !important;
      font-weight: bold !important;
      font-size: 16px !important;
      padding: 8px 12px !important;

      &.active {
        color: #f0f !important;
        text-shadow: 0 0 24px #f0f;
      }

      &:hover {
        color: #f0f !important;
        text-shadow: 0 0 24px #f0f;
      }
    }
  }
}
