.roadmap {
  position: relative;

  &-overlay {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    overflow: hidden;
    .genesis {
      &-a,
      &-b,
      &-c,
      &-d,
      &-e {
        position: absolute;
      }
      &-c {
        width: 300px;
        height: 300px;
        top: 15rem;
        transform: rotate(65deg);
        left: 17rem;
      }
      &-b {
        width: 280px;
        height: 280px;
        transform: rotate(70deg);
        top: 25rem;
        right: 17rem;
      }
      &-a {
        width: 270px;
        height: 270px;
        left: 0rem;
        top: 35rem;
        transform: rotate(60deg);
      }
      &-d {
        width: 400px;
        height: 400px;
        transform: rotate(70deg);
        bottom: 0;
        right: 2rem;
      }
      &-e {
        width: 350px;
        height: 350px;
        transform: rotate(65deg);
        bottom: -2rem;
        left: 17.5%;
      }
    }
  }

  &-ship {
    height: 392px;
    width: 213px;
    position: absolute;
    transform: translateY(-25%);
    right: 0;
  }

  &-content {
    width: 70%;
    margin: 3rem auto 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.05);
    padding: 0 5%;
    z-index: 3;
    &_element {
      width: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
      .color-red {
        color: #f13122 !important;
      }
    }
  }
}
