.roadmap {
  position: relative;
  overflow-y: hidden;

  &-overlay {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    left: -9.5%;
  }

  &-ship {
    height: 392px;
    width: 213px;
    position: absolute;
    transform: translateY(-25%);
    right: 0;
  }

  &-content {
    width: 70%;
    margin: 3rem auto 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.05);
    padding: 0 5%;
    z-index: 3;
    &_element {
      width: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
      .color-red {
        color: #f13122 !important;
      }
    }
  }
}
