@import "normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import "react-perfect-scrollbar/dist/css/styles.css";
@import "./landing";
@import "./minter";
@import "./hangar";
@import "./roadmap";
@import "./navbar";
@import "./footer";

html {
  font-family: "Orbitron", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: #05060b;
  color: white;
}

html,
body,
#root {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

.scrollbar-container {
  width: 100%;
  .ps__rail-y {
    margin-left: auto;
    background-color: transparent !important;
    .ps__thumb-y {
      background-color: #f0f !important;
      box-shadow: 0 0 24px 0 #f0f;
    }
  }
}

.full-height {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.matic-icon {
  width: 32px;
  height: 32px;
}
